In [1]:
import csv
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
import random
import tensorflow as tf

In [2]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Dense, Flatten, Softmax

In [3]:
train = pd.read_csv(r'C:\Users\44788\Desktop\coding\pynbs\Kaggle\train.csv')
test = pd.read_csv(r'C:\Users\44788\Desktop\coding\pynbs\Kaggle\test.csv')

In [4]:
def model_data(input_df, col_start): 
    Xlist = []
    pixel_names = list(input_df.columns[col_start:])
    for pixel in pixel_names:
        Xlist.append(list(input_df[pixel]))
    Xarray = np.array(Xlist)
    image_list = []
    for image in Xarray.T:
        image_list.append(np.reshape(image, (28,28)))
    image_list = np.array(image_list)
    return image_list
Xtrain = np.expand_dims(model_data(train, 1), 3)/255

In [5]:
Xtest = np.expand_dims(model_data(test, 0), 3)/255

In [6]:
Ytrain = np.expand_dims(np.array(train['label']), 1)

In [7]:
Xtrain.shape

(42000, 28, 28, 1)

In [33]:
def model_init():
    model = Sequential([
        Conv2D(16, (3,3), activation='relu'),
        Conv2D(16, (3,3), activation='relu'),
        MaxPooling2D((3,3)),
        Flatten(),
        Dense(10, activation='softmax')
    ])
    return model

In [34]:
model = model_init()

In [35]:
def compile_model(model):
    model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
                  loss='sparse_categorical_crossentropy',
                  metrics=['accuracy'])

In [36]:
compile_model(model)

In [37]:
def train_model(model, scaled_train_images, train_labels):
    """
    This function should train the model for 5 epochs on the scaled_train_images and train_labels. 
    Your function should return the training history, as returned by model.fit.
    """
    history = model.fit(scaled_train_images, train_labels, epochs=5, batch_size=64)
    return history

In [38]:
history = train_model(model, Xtrain, Ytrain)

Epoch 1/5
657/657 [==============================] - 4s 5ms/step - loss: 0.7164 - accuracy: 0.7855
Epoch 2/5
657/657 [==============================] - 3s 5ms/step - loss: 0.1063 - accuracy: 0.9674
Epoch 3/5
657/657 [==============================] - 3s 5ms/step - loss: 0.0712 - accuracy: 0.9780
Epoch 4/5
657/657 [==============================] - 4s 6ms/step - loss: 0.0577 - accuracy: 0.9823
Epoch 5/5
657/657 [==============================] - 4s 5ms/step - loss: 0.0484 - accuracy: 0.9845

In [64]:
prediction = np.argmax(model.predict(Xtest), axis=-1)
imageid = np.array(range(1,len(prediction)+1))

In [69]:
data = np.column_stack((imageid, prediction))

In [74]:
submission_digits = pd.DataFrame(data=data, columns=['imageid', 'Label'])

In [78]:
submission_digits.to_csv(r'C:\Users\44788\Desktop\coding\pynbs\Kaggle\submission_digits.csv')

In [79]:
submission_digits

       imageid  Label
0            1      2
1            2      0
2            3      9
3            4      0
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]